html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

.container {
    flex: 1 0 auto;
}

.login-container {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.footer {
    flex-shrink: 0;
}

/* Message display styles */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout-success {
    border-left-color: #5cb85c;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}